<div>
    <nav class="pr-4 flex flex-col space-y-4">
        <a routerLink="/user-profile/reviews" routerLinkActive="text-red-600 font-medium"
            [routerLinkActiveOptions]="{exact: true}" class="text-gray-600 hover:text-red-600">Reviews</a>

        <a routerLink="/user-profile/info" routerLinkActive="text-red-600 font-medium"
            [routerLinkActiveOptions]="{exact: true}" class="text-gray-600 hover:text-red-600">Personal info</a>

        <a routerLink="/user-profile/documents" routerLinkActive="text-red-600 font-medium"
            [routerLinkActiveOptions]="{exact: true}" class="text-gray-600 hover:text-red-600">Documents</a>

        <a routerLink="/user-profile/change-password" routerLinkActive="text-red-600 font-medium"
            [routerLinkActiveOptions]="{exact: true}" class="text-gray-600 hover:text-red-600">Change password</a>
    </nav>
</div>