<div class="grid grid-cols-1 md:grid-cols-2 min-h-screen">
  <!-- Left image side -->
  <div class="hidden md:block">
    <img src="assets/images/logincar.png" alt="Login Car Image" class="h-[100vh] w-full object-cover" />
  </div>

  <!-- Right login form side -->
  <div class="flex flex-col justify-center px-8 py-10 bg-[#fefcfb]">
    <div class="max-w-md w-full mx-auto">
      <div class="justify-center text-center">
        <h1 class="text-4xl font-bold text-black mb-2">Log in</h1>
        <p class="text-gray-600 mb-6">Glad to see you again</p>
      </div>

      <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="space-y-5">
        <!-- Email -->
        <label for="email" class="text-sm font-medium text-gray-700">Email</label>
        <input type="email" formControlName="email" placeholder="Write your email"
          class="w-full text-gray-400 border border-gray-300 px-4 py-2 rounded-md focus:ring-2 focus:ring-red-400" />

        <!-- Password -->
        <div>
          <label for="password" class="text-sm font-medium text-gray-700">Password</label>
          <input type="password" formControlName="password" placeholder="Write your password"
            class="w-full border text-gray-400 border-gray-300 px-4 py-2 rounded-md focus:ring-2 focus:ring-red-400" />
          <p class="text-xs text-gray-500 mt-1">
            Minimum 8 characters with at least 1 capital letter and 1 digit
          </p>
        </div>

        <!-- Submit Button -->
        <button type="submit"
          class="w-full bg-red-600 text-white py-2 rounded-full font-semibold hover:bg-red-700 transition">
          Login
        </button>
      </form>

      <div *ngIf="loginError" class="mt-4 text-red-600 text-center">
        <p>{{ loginError }}</p>
      </div>

      <!-- Link to register -->
      <p class="text-sm text-center text-gray-700 mt-6">
        New here? 
        <span class="text-black font-semibold cursor-pointer" (click)="goToRegister()">Create an account</span>
      </p>
    </div>
  </div>
</div>
